<!DOCTYPE html>
<html lang="en">

<head>
    <style>

        
    </style>

    <link rel="stylesheet" href="/stylesheets/chat.css">
    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <div class="nav">
        <!-- <i class="fa-solid fa-bars navOprationBtn"  id="inav"></i> -->

         <div class="home" style="opacity: 0;">
            <h4 id="switchAi" style="opacity: 0;color: rgb(255, 115, 0);"> Open-AI</h4>
            <a href="/<%=data.id%>/c" style="opacity: 1;" id="newChat"> NEW CHAT</a>
         </div>
         <div class="titles">
            <%for(d of data.prompts){%>
                <p><%=d.output%></p>
            <%}%>
            <!-- <p>hey it is story </p>
            <p>hey itsummry</p> -->

         </div>
    </div>
    
    <div class="body">

        
        <i class="fa-solid fa-bars" id="iinav"></i>
        <h1 style="text-align:center;font-family: Arial, Helvetica, sans-serif; top:2%;text-align: center;position: absolute;">AI-CHAT</h1>
        <!-- <h5 style="text-align:center;font-family: Arial, Helvetica, sans-serif; left: 6%;top:2%;text-align: left;position: absolute;"></h5> -->

        <i id="mode" class="fa-solid fa-moon"></i>
        <div class="profile"><p style="color: white;font-size: 1.4rem; font-family: Arial, Helvetica, sans-serif;" id="profileLogo"><%=data.email[0]%></p></div>
        <div class="details">
            <p class="pemail"><%=data.email%></p>
            <p class="pname"><%=data.fname%><%=data.lname%></p>
            <hr>
            <a class="pname" href="/<%=data.id%>/c/history">History</a>
            <hr>
            <a class="logout" >Logout</a>
        </div>
        <!-- <div class="prompt-div"> -->
            <div class="genreted-res">
                <i class="fa-regular fa-floppy-disk"></i>

                <h1 id ="h1" style="text-align:center;font-family: Arial, Helvetica, sans-serif; top:40%;left:20%;position: absolute;">Welcome To <br>AI-CHAT <br><span style="color: rgb(255, 153, 0);">Open-ai</span> / <span style="color: rgb(0, 132, 255);">Gemini-ai</span></h1>
              
                <!-- <div class="resC">
                     
            </div> -->
            </div>
            <div class="prompt-div">
                <input type="text" placeholder="Write A prompt" class="prompt" >
                
                <button>
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
           
            <!-- </div> -->
        </div>
        <i class="fa-solid fa-bars navOprationBtn"  style="position: fixed;" id="inav"></i>

    </div>

    <script>
        // let modei=document.querySelector('.fa-thin fa-moon');
        let body=document.querySelector('.body');

       let mode= document.querySelector('#mode');
       
       let  flagC="WhiteSet";
       mode.addEventListener('click',()=>{
           

        if(flagC==="WhiteSet"){
            body.style.backgroundColor="rgb(22,22,22)";
            // modei.className="fa-solid fa-moon";
            // flag=0;
            
            mode.style.color='white';
            document.querySelector('h1').style.color="white";
            flagC="blackSet";
            console.log(flagC);

        }
        else if(flagC==="blackSet"){
            body.style.backgroundColor='white';
            // modei.className="fa-thin fa-moon";
            document.querySelector('h1').style.color="black";

            flagC="WhiteSet";
            
            mode.style.color='black';
            console.log(flagC);
        }
            
           
        });

    </script>


<script src="/socket.io/socket.io.js">
    
</script>


            
</script>
<script src="/scripts/chat.js"> </script>
</body>

</html>